@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen!</h1>
    <p>Velkommen til Hillerød Sejlklub! </a>Her kan du være medlem, booke både og være med til forskellige begivenheder!</p>
</div>
